body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-inline-size: 650px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.content{
    flex-grow: 1;
}


footer{
    padding: 8px;
    color: white;
    text-align: center;
    background-color: blueviolet;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    border: 1px solid #ccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888;
    padding: 8px;
    background-color: beige;
}